[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=oklab_colour_picker
X-Python-2-Compatible=false
Name=OKLab Colour Selector
Comment=Perceptual colour selector using the OKLab colour space.
